doctype html
html
	header
		title Bowling
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.6/css/normalize.css")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.6/css/foundation.min.css")
	body 
		.row
			.small-12.columns &nbsp;
		.row
			.small-12.columns !{content}